{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://codepipeline.amazonaws.com/"
        },
        {
            "url": "http://codepipeline.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline is only configurable through the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, and transitions, as described below.</p> <p> <i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of stages, actions, and transitions. </p> <p>You can work with pipelines by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely-named pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about the pipeline structure and pipeline metadata, including the pipeline Amazon Resource Name (ARN).</p> </li> <li> <p> <a>GetPipelineExecution</a>, which returns information about a specific execution of a pipeline.</p> </li> <li> <p> <a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</p> </li> <li> <p> <a>ListPipelineExecutions</a>, which gets a summary of the most recent executions for a pipeline.</p> </li> <li> <p> <a>StartPipelineExecution</a>, which runs the the most recent revision of an artifact through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul> <p>Pipelines include <i>stages</i>. Each stage contains one or more actions that must complete before the next stage begins. A stage will result in success or failure. If a stage fails, then the pipeline stops at that stage and will remain stopped until either a new version of an artifact appears in the source location, or a user takes action to re-run the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>, which are categorized into categories such as source or build actions performed within a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. Valid action categories are:</p> <ul> <li> <p>Source</p> </li> <li> <p>Build</p> </li> <li> <p>Test</p> </li> <li> <p>Deploy</p> </li> <li> <p>Approval</p> </li> <li> <p>Invoke</p> </li> </ul> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </p> </li> </ul> <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. In order to integrate with AWS CodePipeline, developers will need to work with the following items:</p> <p> <b>Jobs</b>, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. </p> <p>You can work with jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetJobDetails</a>, which returns the details of a job,</p> </li> <li> <p> <a>PollForJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p> <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job,</p> </li> <li> <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action,</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure, and</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS CodePipeline",
        "version": "2015-07-09",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codepipeline-2015-07-09.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "codepipeline"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/codepipeline/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns information about a specified job and whether that job has been received by the job worker. Only used for custom actions.",
                "operationId": "AcknowledgeJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of an AcknowledgeJob action.",
                                    "properties": {
                                        "status": {
                                            "description": "Whether the job worker has received the specified job.",
                                            "enum": [
                                                "Created",
                                                "Queued",
                                                "Dispatched",
                                                "InProgress",
                                                "TimedOut",
                                                "Succeeded",
                                                "Failed"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNonceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "JobNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of an AcknowledgeJob action.",
                                "properties": {
                                    "jobId": {
                                        "description": "The unique system-generated ID of the job for which you want to confirm receipt.",
                                        "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
                                        "type": "string"
                                    },
                                    "nonce": {
                                        "description": "A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response of the <a>PollForJobs</a> request that returned this job.",
                                        "maxLength": 50,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobId",
                                    "nonce"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#AcknowledgeThirdPartyJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Confirms a job worker has received the specified job. Only used for partner actions.",
                "operationId": "AcknowledgeThirdPartyJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of an AcknowledgeThirdPartyJob action.",
                                    "properties": {
                                        "status": {
                                            "description": "The status information for the third party job, if any.",
                                            "enum": [
                                                "Created",
                                                "Queued",
                                                "Dispatched",
                                                "InProgress",
                                                "TimedOut",
                                                "Succeeded",
                                                "Failed"
                                            ],
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNonceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "JobNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidClientTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of an AcknowledgeThirdPartyJob action.",
                                "properties": {
                                    "clientToken": {
                                        "description": "The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.",
                                        "maxLength": 256,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "jobId": {
                                        "description": "The unique system-generated ID of the job.",
                                        "maxLength": 512,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "nonce": {
                                        "description": "A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request.",
                                        "maxLength": 50,
                                        "minLength": 1,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "jobId",
                                    "nonce",
                                    "clientToken"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreateCustomActionType": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.",
                "operationId": "CreateCustomActionType",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a CreateCustomActionType operation.",
                                    "properties": {
                                        "actionType": {
                                            "description": "Returns information about the details of an action type.",
                                            "properties": {
                                                "actionConfigurationProperties": {
                                                    "description": "The configuration properties for the action type.",
                                                    "items": {
                                                        "description": "Represents information about an action configuration property.",
                                                        "properties": {
                                                            "description": {
                                                                "description": "The description of the action configuration property that will be displayed to users.",
                                                                "maxLength": 160,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "key": {
                                                                "description": "Whether the configuration property is a key.",
                                                                "type": "boolean"
                                                            },
                                                            "name": {
                                                                "description": "The name of the action configuration property.",
                                                                "maxLength": 50,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "queryable": {
                                                                "description": "<p>Indicates that the property will be used in conjunction with PollForJobs. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to additional restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>",
                                                                "type": "boolean"
                                                            },
                                                            "required": {
                                                                "description": "Whether the configuration property is a required value.",
                                                                "type": "boolean"
                                                            },
                                                            "secret": {
                                                                "description": "<p>Whether the configuration property is secret. Secrets are hidden from all calls except for GetJobDetails, GetThirdPartyJobDetails, PollForJobs, and PollForThirdPartyJobs.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action will preserve the prior value of the secret.</p>",
                                                                "type": "boolean"
                                                            },
                                                            "type": {
                                                                "description": "The type of the configuration property.",
                                                                "enum": [
                                                                    "String",
                                                                    "Number",
                                                                    "Boolean"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "required",
                                                            "key",
                                                            "secret"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "maxItems": 10,
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "description": "Represents information about an action type.",
                                                    "properties": {
                                                        "category": {
                                                            "description": "A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the values below.",
                                                            "enum": [
                                                                "Source",
                                                                "Build",
                                                                "Deploy",
                                                                "Test",
                                                                "Invoke",
                                                                "Approval"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "owner": {
                                                            "description": "The creator of the action being called.",
                                                            "enum": [
                                                                "AWS",
                                                                "ThirdParty",
                                                                "Custom"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "provider": {
                                                            "description": "The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy.",
                                                            "maxLength": 25,
                                                            "minLength": 1,
                                                            "pattern": "[0-9A-Za-z_-]+",
                                                            "type": "string"
                                                        },
                                                        "version": {
                                                            "description": "A string that describes the action version.",
                                                            "maxLength": 9,
                                                            "minLength": 1,
                                                            "pattern": "[0-9A-Za-z_-]+",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "category",
                                                        "owner",
                                                        "provider",
                                                        "version"
                                                    ],
                                                    "type": "object"
                                                },
                                                "inputArtifactDetails": {
                                                    "description": "The details of the input artifact for the action, such as its commit ID.",
                                                    "properties": {
                                                        "maximumCount": {
                                                            "description": "The maximum number of artifacts allowed for the action type.",
                                                            "maximum": 5,
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "minimumCount": {
                                                            "description": "The minimum number of artifacts allowed for the action type.",
                                                            "maximum": 5,
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "minimumCount",
                                                        "maximumCount"
                                                    ],
                                                    "type": "object"
                                                },
                                                "outputArtifactDetails": {
                                                    "description": "The details of the output artifact of the action, such as its commit ID.",
                                                    "properties": {
                                                        "maximumCount": {
                                                            "description": "The maximum number of artifacts allowed for the action type.",
                                                            "maximum": 5,
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "minimumCount": {
                                                            "description": "The minimum number of artifacts allowed for the action type.",
                                                            "maximum": 5,
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "minimumCount",
                                                        "maximumCount"
                                                    ],
                                                    "type": "object"
                                                },
                                                "settings": {
                                                    "description": "The settings for the action type.",
                                                    "properties": {
                                                        "entityUrlTemplate": {
                                                            "description": "The URL returned to the AWS CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for an AWS CodeDeploy deployment group. This link is provided as part of the action display within the pipeline.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "executionUrlTemplate": {
                                                            "description": "The URL returned to the AWS CodePipeline console that contains a link to the top-level landing page for the external system, such as console page for AWS CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console and provides a link to the execution entity of the external action.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "revisionUrlTemplate": {
                                                            "description": "The URL returned to the AWS CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "thirdPartyConfigurationUrl": {
                                                            "description": "The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service.",
                                                            "maxLength": 2048,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "inputArtifactDetails",
                                                "outputArtifactDetails"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "required": [
                                        "actionType"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a CreateCustomActionType operation.",
                                "properties": {
                                    "category": {
                                        "description": "<p>The category of the custom action, such as a build action or a test action.</p> <note> <p>Although Source and Approval are listed as valid values, they are not currently functional. These values are reserved for future use.</p> </note>",
                                        "enum": [
                                            "Source",
                                            "Build",
                                            "Deploy",
                                            "Test",
                                            "Invoke",
                                            "Approval"
                                        ],
                                        "type": "string"
                                    },
                                    "configurationProperties": {
                                        "description": "<p>The configuration properties for the custom action.</p> <note> <p>You can refer to a name in the configuration properties of the custom action within the URL templates by following the format of {Config:name}, as long as the configuration property is both required and not secret. For more information, see <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a Custom Action for a Pipeline</a>.</p> </note>",
                                        "items": {
                                            "description": "Represents information about an action configuration property.",
                                            "properties": {
                                                "description": {
                                                    "description": "The description of the action configuration property that will be displayed to users.",
                                                    "maxLength": 160,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "key": {
                                                    "description": "Whether the configuration property is a key.",
                                                    "type": "boolean"
                                                },
                                                "name": {
                                                    "description": "The name of the action configuration property.",
                                                    "maxLength": 50,
                                                    "minLength": 1,
                                                    "type": "string"
                                                },
                                                "queryable": {
                                                    "description": "<p>Indicates that the property will be used in conjunction with PollForJobs. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to additional restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>",
                                                    "type": "boolean"
                                                },
                                                "required": {
                                                    "description": "Whether the configuration property is a required value.",
                                                    "type": "boolean"
                                                },
                                                "secret": {
                                                    "description": "<p>Whether the configuration property is secret. Secrets are hidden from all calls except for GetJobDetails, GetThirdPartyJobDetails, PollForJobs, and PollForThirdPartyJobs.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action will preserve the prior value of the secret.</p>",
                                                    "type": "boolean"
                                                },
                                                "type": {
                                                    "description": "The type of the configuration property.",
                                                    "enum": [
                                                        "String",
                                                        "Number",
                                                        "Boolean"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "required",
                                                "key",
                                                "secret"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 10,
                                        "type": "array"
                                    },
                                    "inputArtifactDetails": {
                                        "description": "The details of the input artifact for the action, such as its commit ID.",
                                        "properties": {
                                            "maximumCount": {
                                                "description": "The maximum number of artifacts allowed for the action type.",
                                                "maximum": 5,
                                                "minimum": 0,
                                                "type": "integer"
                                            },
                                            "minimumCount": {
                                                "description": "The minimum number of artifacts allowed for the action type.",
                                                "maximum": 5,
                                                "minimum": 0,
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "minimumCount",
                                            "maximumCount"
                                        ],
                                        "type": "object"
                                    },
                                    "outputArtifactDetails": {
                                        "description": "The details of the output artifact of the action, such as its commit ID.",
                                        "properties": {
                                            "maximumCount": {
                                                "description": "The maximum number of artifacts allowed for the action type.",
                                                "maximum": 5,
                                                "minimum": 0,
                                                "type": "integer"
                                            },
                                            "minimumCount": {
                                                "description": "The minimum number of artifacts allowed for the action type.",
                                                "maximum": 5,
                                                "minimum": 0,
                                                "type": "integer"
                                            }
                                        },
                                        "required": [
                                            "minimumCount",
                                            "maximumCount"
                                        ],
                                        "type": "object"
                                    },
                                    "provider": {
                                        "description": "The provider of the service used in the custom action, such as AWS CodeDeploy.",
                                        "maxLength": 25,
                                        "minLength": 1,
                                        "pattern": "[0-9A-Za-z_-]+",
                                        "type": "string"
                                    },
                                    "settings": {
                                        "description": "Returns information about the settings for an action type.",
                                        "properties": {
                                            "entityUrlTemplate": {
                                                "description": "The URL returned to the AWS CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for an AWS CodeDeploy deployment group. This link is provided as part of the action display within the pipeline.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "executionUrlTemplate": {
                                                "description": "The URL returned to the AWS CodePipeline console that contains a link to the top-level landing page for the external system, such as console page for AWS CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console and provides a link to the execution entity of the external action.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "revisionUrlTemplate": {
                                                "description": "The URL returned to the AWS CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "thirdPartyConfigurationUrl": {
                                                "description": "The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service.",
                                                "maxLength": 2048,
                                                "minLength": 1,
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "version": {
                                        "description": "The version identifier of the custom action.",
                                        "maxLength": 9,
                                        "minLength": 1,
                                        "pattern": "[0-9A-Za-z_-]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "category",
                                    "provider",
                                    "version",
                                    "inputArtifactDetails",
                                    "outputArtifactDetails"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#CreatePipeline": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a pipeline.",
                "operationId": "CreatePipeline",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Represents the output of a CreatePipeline action.",
                                    "properties": {
                                        "pipeline": {
                                            "description": "Represents the structure of actions and stages to be performed in the pipeline. ",
                                            "properties": {
                                                "artifactStore": {
                                                    "description": "Represents information about the Amazon S3 bucket where artifacts are stored for the pipeline. ",
                                                    "properties": {
                                                        "encryptionKey": {
                                                            "description": "The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.",
                                                            "properties": {
                                                                "id": {
                                                                    "description": "The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.",
                                                                    "maxLength": 100,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "description": "The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.",
                                                                    "enum": [
                                                                        "KMS"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "type"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "location": {
                                                            "description": "The Amazon S3 bucket used for storing the artifacts for a pipeline. You can specify the name of an S3 bucket but not a folder within the bucket. A folder to contain the pipeline artifacts is created for you based on the name of the pipeline. You can use any Amazon S3 bucket in the same AWS Region as the pipeline to store your pipeline artifacts.",
                                                            "maxLength": 63,
                                                            "minLength": 3,
                                                            "pattern": "[a-zA-Z0-9\\-\\.]+",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The type of the artifact store, such as S3.",
                                                            "enum": [
                                                                "S3"
                                                            ],
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "type",
                                                        "location"
                                                    ],
                                                    "type": "object"
                                                },
                                                "artifactStores": {
                                                    "description": "<p>A mapping of artifactStore objects and their corresponding regions. There must be an artifact store for the pipeline region and for each cross-region action within the pipeline. You can only use either artifactStore or artifactStores, not both.</p> <p>If you create a cross-region action in your pipeline, you must use artifactStores.</p>",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 30,
                                                                "minLength": 4,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "description": "The Amazon S3 bucket where artifacts are stored for the pipeline.",
                                                                "properties": {
                                                                    "encryptionKey": {
                                                                        "description": "The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.",
                                                                        "properties": {
                                                                            "id": {
                                                                                "description": "The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.",
                                                                                "maxLength": 100,
                                                                                "minLength": 1,
                                                                                "type": "string"
                                                                            },
                                                                            "type": {
                                                                                "description": "The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.",
                                                                                "enum": [
                                                                                    "KMS"
                                                                                ],
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "type"
                                                                        ],
                                                                        "type": "object"
                                                                    },
                                                                    "location": {
                                                                        "description": "The Amazon S3 bucket used for storing the artifacts for a pipeline. You can specify the name of an S3 bucket but not a folder within the bucket. A folder to contain the pipeline artifacts is created for you based on the name of the pipeline. You can use any Amazon S3 bucket in the same AWS Region as the pipeline to store your pipeline artifacts.",
                                                                        "maxLength": 63,
                                                                        "minLength": 3,
                                                                        "pattern": "[a-zA-Z0-9\\-\\.]+",
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The type of the artifact store, such as S3.",
                                                                        "enum": [
                                                                            "S3"
                                                                        ],
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "type",
                                                                    "location"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "name": {
                                                    "description": "The name of the action to be performed.",
                                                    "maxLength": 100,
                                                    "minLength": 1,
                                                    "pattern": "[A-Za-z0-9.@\\-_]+",
                                                    "type": "string"
                                                },
                                                "roleArn": {
                                                    "description": "The Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.",
                                                    "maxLength": 1024,
                                                    "pattern": "arn:aws(-[\\w]+)*:iam::[0-9]{12}:role/.*",
                                                    "type": "string"
                                                },
                                                "stages": {
                                                    "description": "The stage in which to perform the action.",
                                                    "items": {
                                                        "description": "Represents information about a stage and its definition.",
                                                        "properties": {
                                                            "actions": {
                                                                "description": "The actions included in a stage.",
                                                                "items": {
                                                                    "description": "Represents information about an action declaration.",
                                                                    "properties": {
                                                                        "actionTypeId": {
                                                                            "description": "The configuration information for the action type.",
                                                                            "properties": {
                                                                                "category": {
                                                                                    "description": "A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the values below.",
                                                                                    "enum": [
                                                                                        "Source",
                                                                                        "Build",
                                                                                        "Deploy",
                                                                                        "Test",
                                                                                        "Invoke",
                                                                                        "Approval"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "owner": {
                                                                                    "description": "The creator of the action being called.",
                                                                                    "enum": [
                                                                                        "AWS",
                                                                                        "ThirdParty",
                                                                                        "Custom"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "provider": {
                                                                                    "description": "The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy.",
                                                                                    "maxLength": 25,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[0-9A-Za-z_-]+",
                                                                                    "type": "string"
                                                                                },
                                                                                "version": {
                                                                                    "description": "A string that describes the action version.",
                                                                                    "maxLength": 9,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[0-9A-Za-z_-]+",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "category",
                                                                                "owner",
                                                                                "provider",
                                                                                "version"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "configuration": {
                                                                            "description": "The action declaration's configuration.",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "key": {
                                                                                        "maxLength": 50,
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "maxLength": 1000,
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "inputArtifacts": {
                                                                            "description": "The name or ID of the artifact consumed by the action, such as a test or build artifact.",
                                                                            "items": {
                                                                                "description": "Represents information about an artifact to be worked on, such as a test or build artifact.",
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "description": "<p>The name of the artifact to be worked on, for example, \"My App\".</p> <p>The input artifact of an action must exactly match the output artifact declared in a preceding action, but the input artifact does not have to be the next action in strict sequence from the action that provided the output artifact. Actions in parallel can declare different output artifacts, which are in turn consumed by different following actions.</p>",
                                                                                        "maxLength": 100,
                                                                                        "minLength": 1,
                                                                                        "pattern": "[a-zA-Z0-9_\\-]+",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "name"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "name": {
                                                                            "description": "The action declaration's name.",
                                                                            "maxLength": 100,
                                                                            "minLength": 1,
                                                                            "pattern": "[A-Za-z0-9.@\\-_]+",
                                                                            "type": "string"
                                                                        },
                                                                        "outputArtifacts": {
                                                                            "description": "The name or ID of the result of the action declaration, such as a test or build artifact.",
                                                                            "items": {
                                                                                "description": "Represents information about the output of an action.",
                                                                                "properties": {
                                                                                    "name": {
                                                                                        "description": "<p>The name of the output of an artifact, such as \"My App\".</p> <p>The input artifact of an action must exactly match the output artifact declared in a preceding action, but the input artifact does not have to be the next action in strict sequence from the action that provided the output artifact. Actions in parallel can declare different output artifacts, which are in turn consumed by different following actions.</p> <p>Output artifact names must be unique within a pipeline.</p>",
                                                                                        "maxLength": 100,
                                                                                        "minLength": 1,
                                                                                        "pattern": "[a-zA-Z0-9_\\-]+",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "name"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "region": {
                                                                            "description": "The action declaration's AWS Region, such as us-east-1.",
                                                                            "maxLength": 30,
                                                                            "minLength": 4,
                                                                            "type": "string"
                                                                        },
                                                                        "roleArn": {
                                                                            "description": "The ARN of the IAM service role that will perform the declared action. This is assumed through the roleArn for the pipeline.",
                                                                            "maxLength": 1024,
                                                                            "pattern": "arn:aws(-[\\w]+)*:iam::[0-9]{12}:role/.*",
                                                                            "type": "string"
                                                                        },
                                                                        "runOrder": {
                                                                            "description": "The order in which actions are run.",
                                                                            "maximum": 999,
                                                                            "minimum": 1,
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "actionTypeId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "blockers": {
                                                                "description": "Reserved for future use.",
                                                                "items": {
                                                                    "description": "Reserved for future use.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "Reserved for future use.",
                                                                            "maxLength": 100,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "Reserved for future use.",
                                                                            "enum": [
                                                                                "Schedule"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "description": "The name of the stage.",
                                                                "maxLength": 100,
                                                                "minLength": 1,
                                                                "pattern": "[A-Za-z0-9.@\\-_]+",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "actions"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "version": {
                                                    "description": "The version number of the pipeline. A new pipeline always has a version number of 1. This number is automatically incremented when a pipeline is updated.",
                                                    "minimum": 1,
                                                    "type": "integer"
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "roleArn",
                                                "stages"
                                            ],
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "PipelineNameInUseException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InvalidStageDeclarationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidActionDeclarationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InvalidBlockerDeclarationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "InvalidStructureException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents the input of a CreatePipeline action.",
                                "properties": {
                                    "pipeline": {
                                        "description": "Represents the structure of actions and stages to be performed in the pipeline. ",
                                        "properties": {
                                            "artifactStore": {
                                                "description": "Represents information about the Amazon S3 bucket where artifacts are stored for the pipeline. ",
                                                "properties": {
                                                    "encryptionKey": {
                                                        "description": "The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.",
                                                        "properties": {
                                                            "id": {
                                                                "description": "The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.",
                                                                "maxLength": 100,
                                                                "minLength": 1,
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.",
                                                                "enum": [
                                                                    "KMS"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "type"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "location": {
                                                        "description": "The Amazon S3 bucket used for storing the artifacts for a pipeline. You can specify the name of an S3 bucket but not a folder within the bucket. A folder to contain the pipeline artifacts is created for you based on the name of the pipeline. You can use any Amazon S3 bucket in the same AWS Region as the pipeline to store your pipeline artifacts.",
                                                        "maxLength": 63,
                                                        "minLength": 3,
                                                        "pattern": "[a-zA-Z0-9\\-\\.]+",
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "description": "The type of the artifact store, such as S3.",
                                                        "enum": [
                                                            "S3"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "type",
                                                    "location"
                                                ],
                                                "type": "object"
                                            },
                                            "artifactStores": {
                                                "description": "<p>A mapping of artifactStore objects and their corresponding regions. There must be an artifact store for the pipeline region and for each cross-region action within the pipeline. You can only use either artifactStore or artifactStores, not both.</p> <p>If you create a cross-region action in your pipeline, you must use artifactStores.</p>",
                                                "items": {
                                                    "properties": {
                                                        "key": {
                                                            "maxLength": 30,
                                                            "minLength": 4,
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "description": "The Amazon S3 bucket where artifacts are stored for the pipeline.",
                                                            "properties": {
                                                                "encryptionKey": {
                                                                    "description": "The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.",
                                                                    "properties": {
                                                                        "id": {
                                                                            "description": "The ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.",
                                                                            "maxLength": 100,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.",
                                                                            "enum": [
                                                                                "KMS"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
[...]
